# Arquivos gerados pelo Maven
target/

# Arquivos de IDEs comuns
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
